*{
    background-color:black;
    
    
  }
  
  .titulo{
    color:white;
    background-color: transparent;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:20px;
    color:rgb(60, 5, 163);
  }
  
  .nom1{
    color:white;
    background-color: transparent;
    font-size: 30px;
    font-family:century Gothic;
    margin-left:20px;
    margin-top:-5px;
  }
  
  .nom2{
    color:white;
    background-color: transparent;
    font-size: 35px;
    font-family:comic Sans MS;
    margin-left:15px;
    margin-top:-30px;
    
  }

  
  
  h3{
    
    color:white;
    background-color: transparent;
    font-size:110%;
    font-family:comic Sans MS;
    margin-left: 20px;
    margin-top:20px;
    
  }
  
  h5,h4{
    
    color:white;
    background-color: transparent;
    font-size: 50%;
    margin-left: 20px;
    
  }
  
  .banner{
    background-color:rgb(27, 27, 58) ;
    grid-row-start:span 2;
    
   
  }

  .head{
    margin-left: 50px;
    background-color:transparent;
    cursor: pointer;
  }
  
   
  .enlace{
    background-color: rgb(44, 20, 87);
    position:absolute;
    margin-top:270px;
    
    
  }
  
   ul,li,a{
      list-style:none;
      background-color:transparent;
      color:white;
      font-size:80%;
      margin-left: -8px;
    }
  
  
  .jeremy{
    
    background-color:transparent;
    width:50px;
    height:50px;
    border-radius:50%;
    margin-top: 15px;
    margin-left:15px;
    border:3px solid white;
  
  }
  
  .container {
    
    
    display: grid;
    width: 50%;
    
    margin: 0 auto;
    background-color:rgb(27, 27, 58) ;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content:center;
    justify-items: center;
    padding: 90px;
    

    
    
    }
  
    .card {
      
      
      width: 150px;
      height:150px;
      font-size: 25px;
      text-align: center; 
      border: 3px solid;
      border-radius: 18px;
      position: relative;
         
      }
  
      .cardb {
        background-color:rgb(44, 20, 87);
        width: 150px;
        height:120px;
        font-size: 25px;
        text-align: left; 
        border: 3px solid;
        border-radius: 18px;
        position: absolute;
        margin-top: 60px;
        margin-left: -3px;   
        }
  
      .cardb:hover{
        background-color:rgb(145, 95, 238);
      }
  
  
    .card2 {
      
      background: rgb(44, 20, 87);
      width:150px ;
      height: 375px;
      font-size: 25px;
      border: 3px solid;
      border-radius: 10px;
      position: relative;
      
      }
  
    .card2b{
      background-color:rgb(128, 193, 224);
      position: absolute;
      width:150px ;
      height:250px;
      border: 3px solid;
      border-radius: 15px;
      margin-top: -5px;
      margin-left: -3px;
  
    }

    .link{
      color:rgb(60, 5, 163);

    }
    .link:hover{
      color:white;
    }

    .pie{
      color:rgb(60, 5, 163);
      margin-top: -30px;
    }